<%= form.text_field field,
                    options.merge(
                      value: eval("form.object&.#{field}&.to_s"),
                      placeholder: options[:place_holder],
                      data: { url: options[:path_data], form_id: options[:form_id], 'param-name' => options[:param_name], 'param-value' => options[:param_value] },
                      class: "select2ajax #{options[:class]}",
                      id: options[:id],
                      onchange: options[:onchange],
                      required: options[:required]).except(:path_data, :param_value, :param_name) %>
