<%= form.text_field field,
                    options.merge(
                      value: eval("form.object&.#{field}&.to_s"),
                      place_holder: options[:place_holder],
                      data: { url: options[:path_data],
                              others_params: options[:others_params] },
                      class: 'select2ajax',
                      id: options[:id],
                      required: options[:required]).except(:path_data) %>
