
<% message = flash[:success] || flash[:info] || flash[:warming] || flash[:danger] %>
<% return if message.blank? %>

<script type="text/javascript">
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "progressBar": true,
    "preventDuplicates": false,
    "positionClass": "toast-top-right",
    "onclick": null,
    "showDuration": "600",
    "hideDuration": "1000",
    "timeOut": "7000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
</script>

<% if flash.present? %>
  <div id='flash'>
    <script>
      <% if flash[:success] %>
      var $toastContent = $('<span><%= flash[:success] %></span>');
      toastr.success($toastContent);
      <% end %>
      <% if flash[:info] %>
      var $toastContent = $('<span><%= flash[:info] %></span>');
      toastr.info($toastContent);
      <% end %>
      <% if flash[:danger] %>
      var $toastContent = $('<span><%= flash[:danger] %></span>');
      toastr.error($toastContent);
      <% end %>
    </script>
  </div>
<% end %>