<div class="margin-bottom-10">
  <label class="control-label <%= "required" if options.present? && options[:required].present? && options[:required] %>"><%= options[:label] if defined? options %></label>
  <%= form.text_field field, class: "#{'form-control' if options[:readonly].blank?} #{options[:class]}",
                          type: "date"%>
</div>
