<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>



  <% if @campeonatos.present? %>
    <%= form_tag(nil, method: :get) do %>
      <%= select_tag(:cdg_campeonato, options_from_collection_for_select(@campeonatos, "id", "nme_campeonato", cdg_campeonato_selecionado),
                     include_blank: "Selecione um campeonato", class: "select-estado select2", style: "min-height: unset; width: 400px") %>
    <% end %>
  <% end %>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link", title: 'Deslogar', data: { confirm: 'Deseja deslogar?' } do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
