<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to root_path,
              class: "brand-link",
              title: "Home" do %>
    <!--    <img src="<%#= asset_path('AdminLTELogo.png') %>" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
    <img class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Avaliação</span>
  <% end %>

  <a href="index3.html" class="brand-link">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!--      <div class="image">-->
      <!--        <img src="<%#= asset_path('user2-160x160.jpg') %>" class="img-circle elevation-2" alt="User Image">-->
      <!--      </div>-->
      <div class="info">
        <span style="color: white"><%= current_admin.name %></span>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Procurar" aria-label="Procurar">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <% if can? :manage, Audit %>
          <li class="nav-item">
            <%= link_to audits_path, class: "nav-link breadcrumb-audits" do %>
              <i class="fas fa-fingerprint nav-icon"></i>
              <p>Auditoria</p>
            <% end %>
          </li>
        <% end %>

        <% if can? :manage, CadastroBasicos::Municipe %>
          <li class="nav-item">
            <%= link_to cadastro_basicos_municipes_path, class: "nav-link breadcrumb-campeonatos" do %>
              <i class="fas fa-trophy nav-icon"></i>
              <p>Municipes</p>
            <% end %>
          </li>
        <% end %>




          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                Cadastro Básicos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <% if can? :manage, CadastroBasicos::Endereco %>
                <li class="nav-item">
                  <%= link_to cadastro_basicos_enderecos_path, class: "nav-link breadcrumb-campeonatos" do %>
                    <i class="fas fa-trophy nav-icon"></i>
                    <p>Endereços</p>
                  <% end %>
                </li>
              <% end %>


              <% if can? :manage, CadastroBasicos::Tbpermissao %>
                <li class="nav-item">
                  <%= link_to cadastro_basicos_tbpermissoes_path, class: "nav-link breadcrumb-tbpermissoes" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>Permissões</p>
                  <% end %>
                </li>
              <% end %>

              <% if can? :manage, AdminUsuario %>
                <li class="nav-item">
                  <%= link_to cadastro_basicos_tbperfis_path, class: "nav-link breadcrumb-tbperfil" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>Perfils</p>
                  <% end %>
                </li>
              <% end %>



              <% if can? :manage, AdminUsuario %>
                <li class="nav-item">
                  <%= link_to admin_usuarios_path, class: "nav-link breadcrumb-admin-usuarios" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>Usuários</p>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
