<div class="ibox-title">
  <h5><%= options[:title] %></h5>
  <div class="pull-right">
    <% if options[:links].present? %>
      <% options[:links].each do |item| %>
        <% if item[:model].blank? && item[:permissao].blank? || (item[:model].present? && (can? :new, item[:model]) ||
            (item[:permissao].present? && (can? :manage, item[:permissao]))) %>
          <a class="btn btn-info btn-xs"
             <%= "href=#{item[:link]}" if item[:link] %>
             <%= "onclick='#{item[:onclick]}'" if item[:onclick] %>
             <%= "data-remote='#{item[:remote]}'" if item[:remote] %>
             title="<%= item[:label].nil? ? "Novo" : item[:label] %>">
            <%= "<span class='fa #{item[:icone]}' ></span>".html_safe if item[:icone] %> <%= (item[:label].nil? ? "Novo" : item[:label]) %>
          </a>
        <% end %>
      <% end %>
    <% end %>
    <%= render "layouts/botoes_imprimir" if options[:imprimir] %>
  </div>
</div>


