<% content_for :title, options[:title] if defined? options %>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= options[:title] if defined? options %></h5>
    <div class="pull-right">
      <% if options[:links] && options[:links].present? %>
        <% options[:links].each do |link| %>
          <% if link[:action] && link[:action].present? %>
            <% action = link[:action] %>
          <% else %>
            <% action = 'new' %>
          <% end %>
          <% if (link[:permissao] && (can? :manage, link[:permissao])) || (link[:model] && link[:model].present? && (can? action.to_sym, link[:model])) %>
            <%= link_to link[:link], class: "btn #{link[:btn_class].present? ? link[:btn_class] : 'btn-success'} btn-xs #{link[:class]}",
                        data: link[:data] || {}, target: link[:target],
                        label: link[:label], remote: (link[:remote] || false) do %>
              <% if link[:icone].present? %>
                <span class="fa <%= link[:icone] %>"></span>
              <% end %>
              <%= link[:label] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'form' %>
</div>
