
  <div class="card-header">
    <h3 class="card-title">
        <%= pluralize_model options[:model] if options[:model].present? %>
        <%= options[:title] if options[:title].present? %>
    </h3>
    <h6>
      <%= options[:sub_title] if options[:sub_title].present? %>
    </h6>

  <div class="card-tools">
    <% if options[:links] && options[:links].present? %>
      <% options[:links].each do |link| %>
        <% if link[:action] && link[:action].present? %>
          <% action = link[:action] %>
        <% else %>
          <% action = 'new' %>
        <% end %>
        <% if (link[:permissao] && (can? :manage, link[:permissao])) || (link[:model] && link[:model].present? && (can? action.to_sym, link[:model])) %>
          <%= link_to link[:link], class: "btn #{link[:btn_class].present? ? link[:btn_class] : 'btn-success'} btn-xs #{link[:class]}",
                      data: link[:data] || {}, target: link[:target],
                      label: link[:label], remote: (link[:remote] || false) do %>
            <% if link[:icone].present? %>
              <span class="fa <%= link[:icone] %>"></span>
            <% end %>
            <%= link[:label] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>


  </div>

