<div class="ibox-title">
  <h5><%= options[:title] %></h5>
  <div class="ibox-tools">
    <a class="collapse-link">
      <i class="fa fa-chevron-<%= options[:filter_open] ? "up" : "down" %>"></i>
    </a>
  </div>
</div>


