

$(document).on('ready', function () {


    var knownBrackets = [2, 4, 8, 16, 32, 64], // brackets with "perfect" proportions (full fields, no byes)

    exampleTeams = [<%= raw dados[:atletas_kumite].to_json %>][0],
        // exampleTeams = _.shuffle(["New Jersey Devils", "New York Islanders", "New York Rangers", "Philadelphia Flyers", "Pittsburgh Penguins", "Boston Bruins", "Buffalo Sabres", "Montreal Canadiens", "Ottawa Senators", "Toronto Maple Leafs", "Carolina Hurricanes", "Florida Panthers", "Tampa Bay Lightning", "Washington Capitals", "Winnipeg Jets", "Chicago Blackhawks", "Columbus Blue Jackets", "Detroit Red Wings", "Nashville Predators", "St. Louis Blues", "Calgary Flames", "Colorado Avalanche", "Edmonton Oilers", "Minnesota Wild", "Vancouver Canucks", "Anaheim Ducks", "Dallas Stars", "Los Angeles Kings", "Phoenix Coyotes", "San Jose Sharks", "Montreal Wanderers", "Quebec Nordiques", "Hartford Whalers"]), // because a bracket needs some teams!
        // exampleTeams = ["01", "02", "03", "04", "05", "06", "07", "08", "99", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "27", "29", "30", "31", "32", "33"], // because a bracket needs some teams!

    bracketCount = 0;
    console.log(exampleTeams);
    console.log(exampleTeams);

    /*
     * Build our bracket "model"
     */
    function getBracket(base) {
        var closest = _.find(knownBrackets, function (k) {
                return k >= base;
            }),
            byes = closest - base;
        console.log('closest: ' + closest)
        console.log('byes: ' + byes)

        if (byes > 0) base = closest;

        var brackets = [],
            round = 1,
            baseT = base / 2,
            baseC = base / 2,
            teamMark = 0,
            nextInc = base / 2;

        for (i = 1; i <= (base - 1); i++) {
            var baseR = i / baseT,
                isBye = false;

            if (byes > 0 && (i % 2 != 0 || byes >= (baseT - i))) {
                isBye = true;
                byes--;
            }

            var last = _.map(_.filter(brackets, function (b) {
                return b.nextGame == i;
            }), function (b) {
                return {game: b.bracketNo, teams: b.teamnames};
            });


            team_prox = ['', '']
            if (round === 2) {
                posicao1 = last[0].teams.indexOf('---')
                posicao2 = last[1].teams.indexOf('---')
                play1 = posicao1 !== -1 ? last[0].teams[inverte_posicao(posicao1)] : ''
                play2 = posicao2 !== -1 ? last[1].teams[inverte_posicao(posicao2)] : ''
                team_prox = [play1, play2];
            };

            console.log('last: ' + last);
            brackets.push({
                lastGames: round == 1 ? null : [last[0].game, last[1].game],
                nextGame: nextInc + i > base - 1 ? null : nextInc + i,
                teamnames: round == 1 ? [exampleTeams[teamMark], exampleTeams[teamMark + 1]] : team_prox,
                bracketNo: i,
                roundNo: round,
                bye: isBye
            });
            console.log('brackets: ' + brackets);

            teamMark += 2;
            if (i % 2 != 0) nextInc--;
            console.log('baseR: ' + baseR);
            while (baseR >= 1) {
                round++;
                baseC /= 2;
                baseT = baseT + baseC;
                baseR = i / baseT;
            }
        }

        renderBrackets(brackets);
    }

    function inverte_posicao(posicao) {
        return posicao === 0 ? 1 : 0;
    }

    /*
     * Inject our brackets
     */
    function renderBrackets(struct) {
        var groupCount = _.uniq(_.map(struct, function (s) {
            return s.roundNo;
        })).length;

        var group = $('<div class="group' + (groupCount + 1) + '" id="b' + bracketCount + '"></div>'),
            grouped = _.groupBy(struct, function (s) {
                return s.roundNo;
            });

        for (g = 1; g <= groupCount; g++) {
            var round = $('<div class="r' + g + '"></div>');
            _.each(grouped[g], function (gg) {
                if (gg.bye)
                    round.append('<div></div>');
                else
                    round.append('<div><div class="bracketbox"><span class="info">' + gg.bracketNo + '</span><span class="teama">' + gg.teamnames[0] + '</span><span class="teamb">' + gg.teamnames[1] + '</span></div></div>');
            });
            group.append(round);
        }
        group.append('<div class="r' + (groupCount + 1) + '"><div class="final"><div class="bracketbox"><span class="teamc">' + '' + '</span></div></div></div>');
        $('#' + '<%="brackets#{dados[:tbcategoria].id}"%>').append(group);

        bracketCount++;
        $('html,body').animate({
            scrollTop: $("#b" + (bracketCount - 1)).offset().top
        });
    }

    var n_bracketsa = <%= dados[:atletas_kumite].size %>
        getBracket(n_bracketsa);


});


