<% if @admin.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin.errors.count, "erro") %> proibiu esta ação</h2>
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    General Form Elements
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Forms</a></li>
    <li class="breadcrumb-item active">General Elements</li>
  </ol>
</section>

<section class="content">
  <div class="box box-solid bg-gray">
    <div class="box-header with-border">
      <h4 class="box-title">Usuários</h4>
      <ul class="box-controls pull-right">
        <li><a class="box-btn-slide" href="#"></a></li>
        <li><a class="box-btn-fullscreen" href="#"></a></li>
      </ul>
    </div>
    <!-- /.box-header -->

    <%= form_for @admin do |f| %>

      <div class="box-body" style="">
        <h4 class="box-title text-info"><i class="ti-user mr-15"></i> Informações pessoais</h4>
        <hr class="my-15">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nome</label>
              <%= f.text_field :name, class: "form-control", type: "text", placeholder: "Nome completo" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Apelido</label>
              <input type="text" class="form-control" placeholder="Apelido">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>E-mail</label>
              <%= f.text_field :email, class: "form-control", type: "text", placeholder: "E-mail" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Número de contato</label>
              <input type="text" class="form-control" placeholder="Numero">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Cpf</label>
              <%= f.text_field :cpf, class: "form-control", type: "text", placeholder: "Número do cpf" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Aniversário</label>
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>


        </div>


        <h4 class="box-title text-info"><i class="ti-save mr-15"></i> Permissões</h4>
        <hr class="my-15">


        <div class="form-group">
          <label for="wint1">Permissões</label>
          <%= f.select :kind, options_from_enum_for_select(@admin, :kind), {}, { :include_blank => true, :class => ' custom-select form-control required' } %>
        </div>


        <div class="row">

          <div class="col-md-6">
            <!--            <label><%#= f.label :password %></label>-->
            <label>Senha</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-lock"></i></span>
              </div>
              <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
            </div>
          </div>
          <div class="col-md-6">

            <!--            <label><%#= f.label :password_confirmation %></label>-->
            <label>Confirmação de senha</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-lock"></i></span>
              </div>
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
            </div>

          </div>


        </div>


        <br>
        <br>
        <br>




        <br>
        <br>
        <br>




      </div>


      <!-- /.box-body -->
      <div class="box-footer">
        <%= link_to url_for(:back), type: "button", class: "btn btn-warning btn-outline mr-1" do %>
          <i class="ti-trash"></i> Cancel
        <% end %>
        <button type="submit" class="btn btn-primary btn-outline">
          <i class="ti-save-alt"></i> Save
        </button>
      </div>
    <% end %>

  </div>
</section>


<!-- /.box -->
		