<% if @admin.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin.errors.count, "erro") %> proibiu esta ação</h2>
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="modal-content">
  <%= bootstrap_form_for @admin,
                         remote: true,
                         id: 'tbadmin_usuario_create', html: { role: 'form' } do |f| %>
    <div class="modal-header">
      <h4 class="modal-title" id="modal_titulo"></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :name, class: "form-control", type: "text", placeholder: "Nome completo" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Apelido</label>
            <input type="text" class="form-control" placeholder="Apelido">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :email, class: "form-control", type: "text", placeholder: "E-mail" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Número de contato</label>
            <input type="text" class="form-control" placeholder="Numero">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :cpf, class: "form-control", type: "text", placeholder: "Número do cpf" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Aniversário</label>
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
          </div>
        </div>


      </div>


      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>
        </div>

      </div>

      <div class="row">



      </div>


      <hr class="my-15">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <%= link_to_add_association "<i class='fa fa-plus'></i> Perfils".html_safe,
                                      f, :cadastro_basicos_tbperfilusuarios,
                                      'data-association-insertion-node' => "#admin-div",
                                      'data-association-insertion-method' => "append",
                                      partial: 'admin_usuarios/tbperfilusuario_fields',
                                      class: "btn btn-block btn-info", style: 'color:#fff' %>
        </div>
      </div>
      <hr>
      <div class="row margin-bottom-10">
        <div class="col-md-10"><b>Perfils</b></div>
        <div class="col-md-2 text-align-center">Ações</div>
      </div>
      <div id="admin-div">
        <%= f.fields_for :cadastro_basicos_tbperfilusuarios do |f| %>
          <% render 'admin_usuarios/tbperfilusuario_fields', f: f %>
        <% end %>
      </div>


    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= label_translate(:cancel) %></button>
      <button type="submit" class="btn btn-primary"><%= label_translate(:save) %></button>
    </div>
  <% end %>
</div>






		