<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal_titulo"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th width="10%" style="text-align: right;">
          <b><%= translate_attr(AdminUsuario, :nome) %>:</b></th>

        <td><%= h @admin.nome %></td>
      </tr>

    </table>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <button type="button" id="btnFechar" class="btn btn-white" data-dismiss="modal"><%= label_translate(:close) %></button>
    </div>
  </div>
</div>
