<section class="content-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Cadastro Básicos</a></li>
    <li class="breadcrumb-item active" data-breadcrumb="admin-usuarios"><%= translate_model(AdminUsuario) %></li>
  </ol>
</section>


<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listagem de <%= pluralize_model(AdminUsuario) %> </h3>
      <div class="card-tools">
        <%= link_to new_admin_usuario_path, class: 'btn btn-primary btn-sm btn-block', remote: true do %>
          <i class="fa fa-plus"></i> Novo
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <%= search_form_for @q do |f| %>
        <div class="row margin-bottom-15">
          <div class="col-md-3">
            <%= h f.label :name %>
            <%= h f.text_field :name_cont, class: 'form-control',
                               autocomplete: 'off',
                               placeholder: "Digite o #{translate_attr(AdminUsuario, :name)}" %>
          </div>


          <div class="col-md-1">
            <%= button_tag(type: "submit", class: "btn btn-primary btn-block bottom-div ", data: { disable_with: "Filtrando..." }) do %>
              <i class="fas fa-search"></i> Filtrar
            <% end %>
          </div>
        </div>
      <% end %>
      <table class="table table-bordered table-striped datatable">
        <thead>
        <tr>
          <th><%= translate_attr(AdminUsuario, :name) %></th>
          <th><%= translate_attr(AdminUsuario, :email) %></th>

          <th><%= translate_attr(AdminUsuario, :active) %></th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody id="table-cadastro_basicos_tbciclo">
        <% @admin.each do |dado| %>
          <tr>
            <td><%= dado.name %></td>
            <td><%= dado.email %></td>
            <td><%= dado.active %></td>
            <td class="white-space-nowrap-center" style="width: 16px">
              <%= link_to_visualizar admin_usuario_path(dado), remote: true %>
              <%= link_to_editar edit_admin_usuario_path(dado), remote: true %>
              <%= link_to_excluir admin_usuario_path(dado), remote: true %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= page_entries_info @admin %>
      <%= paginate @admin, outer_window: 2 %>
    </div>
  </div>
</section>



