$('#modal_xfull_static').modal();
$("#modal_content_xfull_static").html("<%= escape_javascript(render('form')) %>");

// Add the dialog title
$('#modal_titulo').html("<%= label_translate(:new) + ' ' + singularize_model(AdminUsuario) %>");
resetarComponents();
