
<section class="content-header">
  <h1>
    General Form Elements
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Forms</a></li>
    <li class="breadcrumb-item active">General Elements</li>
  </ol>
</section>

<section class="content">

    <div class="box box-solid bg-gray">
      <div class="box-header with-border">
        <h4 class="box-title">Vizualização Usuário</h4>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-bordered mb-0">
            <tbody>
            <tr>
              <th width="10%" scope="col">Nome</th>
              <th><%= @admin.name %></th>
            </tr>
            <tr>
              <th scope="col">Email</th>
              <td><%= @admin.email %></td>
            </tr>

            <tr>
              <th scope="col">Cpf</th>
              <td><%= @admin.cpf %></td>
            </tr>
            <tr>
              <th scope="col">Data nasc</th>
              <td><%= @admin.date_birth %></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <%= link_to url_for(:back), type: "button", class: "btn btn-warning btn-outline mr-1" do %>
            <i class="ti-trash"></i> Cancel
          <% end %>
          <%= link_to edit_admin_usuario_path(@admin), type: "submit", class: "btn btn-primary btn-outline" do %>
            <i class="ti-save-alt"></i> Editar
          <% end %>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>
