$('#modal_xfull_static').modal();
$("#modal_content_xfull_static").html("<%= escape_javascript(render('show')) %>");

// Add the dialog title
$('#modal_titulo').html("<%= label_translate(:show) %> <%= singularize_model(AdminUsuario) %>");