<section class="content-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item active" data-breadcrumb="audits">Auditoria</li>

  </ol>
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listagem de Auditoria </h3>
    </div>
    <div class="card-body">
      <%= search_form_for @q do |f| %>
        <div class="row margin-bottom-15">
          <div class="col-md-3">
            <%= h f.label :auditable_type %>
            <%= h f.select :auditable_type_eq,
                           options_for_select(@auditable_types.sort.map { |p| [p, p] },
                                              selected: params.dig(:q, :auditable_type_eq)),
                           { include_blank: "Selecione o origem type" },
                           { class: 'form-control select2',
                             style: "width: 100%;" } %>
          </div>
          <div class="col-md-3">
            <%= h f.label :action %>
            <%= h f.select :action_eq,
                           options_for_select([['destroy', 'destroy'], ['update', 'update'], ['create', 'create']],
                                              selected: params.dig(:q, :auditable_type_eq)),
                           { include_blank: "Selecione o origem type" },
                           { class: 'form-control select2',
                             style: "width: 100%;" } %>
          </div>
          <div class="col-md-1">
            <%= button_tag(type: "submit", class: "btn btn-primary btn-block bottom-div ", data: { disable_with: "Filtrando..." }) do %>
              <i class="fas fa-search"></i> Filtrar
            <% end %>
          </div>
        </div>
      <% end %>
      <table class="table table-bordered table-striped datatable">
        <thead>
        <tr>
          <th>Origem ID</th>
          <th>Origem Type</th>
          <th>Usuário</th>
          <th>Action</th>
          <th>Mudanças</th>
          <th>Data</th>
        </tr>
        </thead>
        <tbody id="table-tbranking">
        <% @audits.each do |dado| %>
          <tr>
            <td><%= dado.auditable_id %></td>
            <td><%= dado.auditable_type %></td>
            <td><%= dado&.admin_usuario&.email %></td>
            <td><%= dado.action %></td>
            <td><%= dado[:audited_changes] %></td>
            <td><%= dado.created_at.to_s_br_time %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= page_entries_info @audits %>
      <%= paginate @audits, outer_window: 2 %>
    </div>
  </div>
</section>










