<div class="login-box">
<!--  <div class="login-logo">-->
<!--    <a href="../../index2.html"><b>Admin</b>LTE</a>-->
<!--  </div>-->
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Logar (Registro/Email)</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!--        <div class="input-group mb-3">-->
          <%#= f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: "Email" %>
<!--          <div class="input-group-append">-->
<!--            <div class="input-group-text">-->
<!--              <span class="fas fa-envelope"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="input-group mb-3">
          <%= f.text_field :nmr_registro, autofocus: true, class: "form-control" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, class: "form-control", type: "Password", placeholder: "Senha" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, type: "checkbox", id: "remember" %>
                <label for="remember">
                  Lembrar
                </label>
              <% end %>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <%= f.submit "Entrar", type: "submit", class: "btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
        <p class="mb-1">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to " Eu esqueci minha senha", new_admin_password_path(resource_name) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
