<div class="modal-content">
  <%= bootstrap_form_for @cadastro_basicos_tbpermissao,
  remote: true,
  id: 'tbpermissoes_create', html: { role: 'form' } do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="modal_titulo"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-body">
      <div id="error_explanation">
      </div>
      <%= f.alert_message specific_alert(:data_empty) %>
              
          
            <%= h f.text_field :classe, class: 'form-control',
            label: translate_attr(CadastroBasicos::Tbpermissao,:classe),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbpermissao,:classe)}" %>
          
        
              
          
            <%= h f.text_field :acao, class: 'form-control',
            label: translate_attr(CadastroBasicos::Tbpermissao,:acao),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbpermissao,:acao)}" %>
          
        
              
          
            <%= h f.text_field :nome, class: 'form-control',
            label: translate_attr(CadastroBasicos::Tbpermissao,:nome),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbpermissao,:nome)}" %>
          
        
              
          

              
          
            <%= h f.text_field :permissao_pai, class: 'form-control',
            label: translate_attr(CadastroBasicos::Tbpermissao,:permissao_pai),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbpermissao,:permissao_pai)}" %>
          
        
              
          <%= f.check_box :ativo, label: 'Ativado' %>
        
              
          
            <%= h f.text_field :chave, class: 'form-control',
            label: translate_attr(CadastroBasicos::Tbpermissao,:chave),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbpermissao,:chave)}" %>
          
        
          </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= label_translate(:cancel) %></button>
    <button type="submit" class="btn btn-primary"><%= label_translate(:save) %></button>
  </div>
  <% end %>
</div>