<div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="modal_titulo"></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  <div class="modal-body">
    <table class="table">
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Tbpermissao,:classe) %>:</b></th>
          
            <td><%=h @cadastro_basicos_tbpermissao.classe %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Tbpermissao,:acao) %>:</b></th>
          
            <td><%=h @cadastro_basicos_tbpermissao.acao %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Tbpermissao,:nome) %>:</b></th>
          
            <td><%=h @cadastro_basicos_tbpermissao.nome %></td>
                  </tr>

              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Tbpermissao,:permissao_pai) %>:</b></th>
          
            <td><%=h @cadastro_basicos_tbpermissao.permissao_pai %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Tbpermissao,:ativo) %>:</b></th>
          
            <td><%=h ativo_inativo(@cadastro_basicos_tbpermissao.ativo) %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Tbpermissao,:chave) %>:</b></th>
          
            <td><%=h @cadastro_basicos_tbpermissao.chave %></td>
                  </tr>
          </table>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <button type="button" id="btnFechar" class="btn btn-white" data-dismiss="modal"><%= label_translate(:close) %></button>
    </div>
  </div>
</div>
