<div class="nested-fields">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><strong><%= translate_model(CadastroBasicos::Endereco) %></strong></h3>
          <div class="pull-right">
            <%#= link_to_remove_association "Remover", f, class: "btn btn-danger btn-xs" %>
          </div>
        </div>
        <div class="panel-body padding-10">
          <div class="row">
            <div class="col-md-5">
              <%= h f.text_field :cep, class: 'form-control',
                                 label: translate_attr(CadastroBasicos::Endereco, :cep),
                                 placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco, :cep)}" %>

            </div>
            <div class="col-md-5">
              <%= h f.text_field :logradouro, class: 'form-control',
                                 label: translate_attr(CadastroBasicos::Endereco, :logradouro),
                                 placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco, :logradouro)}" %>

            </div>
            <div class="col-md-5">
              <%= h f.text_field :complemento, class: 'form-control',
                                 label: translate_attr(CadastroBasicos::Endereco, :complemento),
                                 placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco, :complemento)}" %>

            </div>
            <div class="col-md-5">
              <%= h f.text_field :bairro, class: 'form-control',
                                 label: translate_attr(CadastroBasicos::Endereco, :bairro),
                                 placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco, :bairro)}" %>

            </div>
            <div class="col-md-5">
              <%= h f.text_field :cidade, class: 'form-control',
                                 label: translate_attr(CadastroBasicos::Endereco, :cidade),
                                 placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco, :cidade)}" %>

            </div>
            <div class="col-md-5">
              <%= h f.label :uf %>
              <%= h f.select :uf,
                             options_for_select(ESTADOS_BRASILEIROS.collect { |p| [p[:label], p[:chave]] },
                                                selected: f.object.uf),
                             { include_blank: "Selecione um UF",
                               hide_label: true },
                             { class: 'form-control select2',
                               style: "width: 100%;" } %>



            </div>
            <div class="col-md-2 text-align-center">
              <%= link_to_remove_association "Remover", f, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    resetarComponents();
</script>