<section class="content-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Cadastro Básicos</a></li>
    <li class="breadcrumb-item active"><%= translate_model(CadastroBasicos::Municipe) %></li>
  </ol>
</section>

<section class="content">
  <div class="card">
    <div class="card-body">
      <%= bootstrap_form_for @cadastro_basicos_municipe,
                             id: 'municipes_create', html: { role: 'form', multipart: :true } do |f| %>
        <div class="col-md-12">
          <div class="form-body">
            <div id="error_explanation">
            </div>
            <%= f.alert_message specific_alert(:data_empty) %>

            <div class="row">
              <div class="col-md-4">
                <%= h f.text_field :nome_completo, class: 'form-control',
                                   label: translate_attr(CadastroBasicos::Municipe, :nome_completo),
                                   placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :nome_completo)}" %>

              </div>
              <div class="col-md-4">
                <%= h f.text_field :cpf, class: 'form-control',
                                   label: translate_attr(CadastroBasicos::Municipe, :cpf),
                                   placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :cpf)}" %>

              </div>
              <div class="col-md-4">
                <%= h f.text_field :cns, class: 'form-control',
                                   label: translate_attr(CadastroBasicos::Municipe, :cns),
                                   placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :cns)}" %>

              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <%= h f.text_field :email, class: 'form-control',
                                   label: translate_attr(CadastroBasicos::Municipe, :email),
                                   placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :email)}" %>


              </div>
              <div class="col-md-4">
                <%= h f.text_field :dta_nascimento, class: 'form-control date-picker-single',
                                   id: 'dta-nascimento',
                                   value: format_data(f.object.dta_nascimento),
                                   label: translate_attr(CadastroBasicos::Municipe, :dta_nascimento),
                                   placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :dta_nascimento)}" %>
              </div>
              <div class="col-md-4">
                <%= h f.text_field :telefone, class: 'form-control celular',
                                   label: translate_attr(CadastroBasicos::Municipe, :telefone),
                                   placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :telefone)}" %>

              </div>
              <div class="col-md-2">
                <%= f.check_box :status, label: 'Ativado' %>
              </div>
            </div>

            <div class="row">
              <% if f.object.foto.attached? %>
                <%= image_tag f.object.foto.variant(resize: "100x100") %>
              <% end %>


              <div class="form-group">
                <%= f.file_field :foto, :presence => true, class: "form-control", :as => :file, id: "image_upload_id" %>
              </div>

            </div>


            <div id="endereco" class="cocoon-group">
              <%= f.fields_for :cadastro_basicos_enderecos do |enderecos_fields| %>
                <% render 'cadastro_basicos/municipes/endereco_fields', f: enderecos_fields %>
              <% end %>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <div class="links">
                    <%= link_to_add_association "Adicionar Endereço", f, :cadastro_basicos_enderecos,
                                                'data-association-insertion-method' => "prepend", partial: 'cadastro_basicos/municipes/endereco_fields',
                                                'data-association-insertion-node' => "#endereco",
                                                class: "btn btn-info btn-sm", style: "color: #FFF" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= label_translate(:cancel) %></button>
          <button type="submit" class="btn btn-primary"><%= label_translate(:save) %></button>
        </div>
      <% end %>
    </div>
  </div>

</section>


