<div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="modal_titulo"></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  <div class="modal-body">
    <table class="table">
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:nome_completo) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.nome_completo %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:cpf) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.cpf %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:cns) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.cns %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:email) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.email %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:dta_nascimento) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.dta_nascimento %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:telefone) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.telefone %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:foto) %>:</b></th>
          
            <td><%=h @cadastro_basicos_municipe.foto %></td>
                  </tr>
              <tr>
          <th width="10%" style="text-align: right;">
            <b><%= translate_attr(CadastroBasicos::Municipe,:status) %>:</b></th>
          
            <td><%=h ativo_inativo(@cadastro_basicos_municipe.status) %></td>
                  </tr>
          </table>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <button type="button" id="btnFechar" class="btn btn-white" data-dismiss="modal"><%= label_translate(:close) %></button>
    </div>
  </div>
</div>
