<section class="content-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Cadastro Básicos</a></li>
    <li class="breadcrumb-item active"><%= translate_model(CadastroBasicos::Municipe) %></li>
  </ol>
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listagem de <%= translate_model(CadastroBasicos::Municipe) %> </h3>
      <div class="card-tools">
        <%= link_to new_cadastro_basicos_municipe_path, class: 'btn btn-primary btn-sm btn-block' do %>
          <i class="fa fa-plus"></i> Novo
        <% end %>
      </div>
    </div>
    <div class="card-body">

      <%= search_form_for @q do |f| %>
        <div class="row margin-bottom-15">
          <div class="col-md-3">
            <%= h f.label :nome_completo %>
            <%= h f.text_field :nome_completo_eq, class: 'form-control',
                               autocomplete: 'off',
                               placeholder: "Digite o #{translate_attr(CadastroBasicos::Municipe, :nome_completo)}" %>
          </div>

          <div class="col-md-1">
            <%= button_tag(type: "submit", class: "btn btn-primary btn-block bottom-div ", data: { disable_with: "Filtrando..." }) do %>
              <i class="fas fa-search"></i> Filtrar
            <% end %>
          </div>
        </div>
      <% end %>


      <table class="table table-bordered table-striped datatable">
        <thead>
        <tr>
          <th>Código</th>

          <th><%= translate_attr(CadastroBasicos::Municipe, :nome_completo) %></th>

          <th><%= translate_attr(CadastroBasicos::Municipe, :cpf) %></th>

          <th><%= translate_attr(CadastroBasicos::Municipe, :cns) %></th>

          <th><%= translate_attr(CadastroBasicos::Municipe, :email) %></th>


          <th>Ações</th>
        </tr>
        </thead>
        <tbody id="table-cadastro_basicos_municipe">
        <% @cadastro_basicos_municipes.each do |dado| %>
          <tr>
            <td><%= dado.id %></td>

            <td><%= dado.nome_completo %></td>

            <td><%= dado.cpf %></td>

            <td><%= dado.cns %></td>

            <td><%= dado.email %></td>

            <td class="white-space-nowrap-center" style="width: 16px">
              <%= link_to_visualizar cadastro_basicos_municipe_path(dado), remote: true %>
              <%= link_to_editar edit_cadastro_basicos_municipe_path(dado) %>
              <%= link_to_excluir cadastro_basicos_municipe_path(dado), remote: true if can? :manage, Admin %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>










