<div class="modal-content">
  <%= bootstrap_form_for @cadastro_basicos_endereco,
  remote: true,
  id: 'enderecos_create', html: { role: 'form' } do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="modal_titulo"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-body">
      <div id="error_explanation">
      </div>
      <%= f.alert_message specific_alert(:data_empty) %>
              
          
            <%= h f.text_field :cep, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:cep),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:cep)}" %>
          
        
              
          
            <%= h f.text_field :logradouro, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:logradouro),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:logradouro)}" %>
          
        
              
          
            <%= h f.text_field :complemento, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:complemento),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:complemento)}" %>
          
        
              
          
            <%= h f.text_field :bairro, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:bairro),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:bairro)}" %>
          
        
              
          
            <%= h f.text_field :cidade, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:cidade),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:cidade)}" %>
          
        
              
          
            <%= h f.text_field :uf, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:uf),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:uf)}" %>
          
        
              
          
            <%= h f.text_field :cod_ibge, class: 'form-control',
            label: translate_attr(CadastroBasicos::Endereco,:cod_ibge),
            placeholder: "Digite o #{translate_attr(CadastroBasicos::Endereco,:cod_ibge)}" %>
          
        
          </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= label_translate(:cancel) %></button>
    <button type="submit" class="btn btn-primary"><%= label_translate(:save) %></button>
  </div>
  <% end %>
</div>