<section class="content-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Cadastro Básicos</a></li>
    <li class="breadcrumb-item active" data-breadcrumb="tbpermissoes"><%= translate_model(CadastroBasicos::Endereco) %></li>
  </ol>
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listagem de <%= translate_model(CadastroBasicos::Endereco) %> </h3>
      <div class="card-tools">
        <%= link_to new_cadastro_basicos_endereco_path, class: 'btn btn-primary btn-sm btn-block', remote: true do %>
          <i class="fa fa-plus"></i> Novo
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped datatable">
        <thead>
        <tr>
          <th>Código</th>
          <th><%= translate_attr(CadastroBasicos::Endereco, :cep) %></th>
          <th><%= translate_attr(CadastroBasicos::Endereco, :logradouro) %></th>
          <th><%= translate_attr(CadastroBasicos::Endereco, :bairro) %></th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody id="table-cadastro_basicos_tbpermissao">
        <% @cadastro_basicos_enderecos.each do |dado| %>
          <tr>
            <td><%= dado.id %></td>

            <td><%= dado.cep %></td>

            <td><%= dado.logradouro %></td>
            <td><%= dado.bairro %></td>

            <td class="white-space-nowrap-center" style="width: 16px">
              <%= link_to_visualizar cadastro_basicos_endereco_path(dado), remote: true %>
              <%= link_to_editar edit_cadastro_basicos_endereco_path(dado), remote: true %>
              <%= link_to_excluir cadastro_basicos_endereco_path(dado), remote: true %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= page_entries_info @cadastro_basicos_enderecos %>
      <%= paginate @cadastro_basicos_enderecos, outer_window: 2 %>
    </div>
  </div>
</section>










