<div class="row">
  <div class="col-md-12">
    <div class="card card-default">
      <div class="card-header">
        <h1 class="card-title">Seja bem vindo ao sistema, <%= @nome %></h1>
      </div>
    </div>
  </div>
</div>

