.dataTables_wrapper .row {
  display: flex;
  align-items: center;
}

.dataTables_filter > label {
  float: right !important;
}

.white-space-nowrap-center {
  white-space: nowrap;
  text-align: center
}

.btn-warning {
  color: #fff !important;
  background-color: #ffc107;
  border-color: #ffc107;
  box-shadow: none;
}

.vertical-align-row {
  display: flex;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.discard-point {
  background: #FF9793;
  //color: white;
  font-weight: bold;
}

.center {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-div {
  margin-top: 20px
}

.no-padding{
  padding: 0px;
}

.team {
  height: 45px;
}
.label.editable {
  height: 45px !important;
}