.table-pdf, .th-pdf, .td-pdf {
  border: 1px solid black;
  border-collapse: collapse;
}

.page-break {
  page-break-inside: avoid !important;
}

.table-pdf {
  border-collapse: collapse;
  width: 100%;
}

.th-pdf, .td-pdf {
  text-align: left;
  padding: 8px;
}

.th-pdf {
  background-color: #D7D7D7;
}

.tr-pdf:nth-child(even) {
  background-color: #EBEBEB;
}