<div class="modal-content">
  <%= bootstrap_form_for @cadastro_basicos_tbperfil,
                         remote: true,
                         id: 'tbperfis_create', html: { role: 'form' } do |f| %>
    <div class="modal-header">
      <h4 class="modal-title" id="modal_titulo"></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-body">
        <div id="error_explanation">
        </div>
        <%= f.alert_message specific_alert(:data_empty) %>

        <div class="row">
          <div class="col-md-4">
            <%= h f.text_field :nome, class: 'form-control',
                               label: translate_attr(CadastroBasicos::Tbperfil, :nome),
                               placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbperfil, :nome)}" %>
          </div>
          <div class="col-md-4">
            <%= h f.text_field :chave, class: 'form-control',
                               label: translate_attr(CadastroBasicos::Tbperfil, :chave),
                               placeholder: "Digite o #{translate_attr(CadastroBasicos::Tbperfil, :chave)}" %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :ativo, label: 'Ativado' %>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <%= link_to_add_association "<i class='fa fa-plus'></i> Permissão".html_safe,
                                      f, :cadastro_basicos_tbperfil_tbpermissaos,
                                      'data-association-insertion-node' => "#permissao-div",
                                      'data-association-insertion-method' => "append",
                                      partial: 'cadastro_basicos/tbperfis/tbperfil_tbpermissao_fields',
                                      class: "btn btn-block btn-info", style: 'color:#fff' %>
        </div>
      </div>
      <hr>
      <div class="row margin-bottom-10">
        <div class="col-md-10"><b><%= translate_attr(CadastroBasicos::Tbpermissao, :id) %></b></div>
        <div class="col-md-2 text-align-center">Ações</div>
      </div>
      <div id="permissao-div">
        <%= f.fields_for :cadastro_basicos_tbperfil_tbpermissaos do |f| %>
          <% render 'cadastro_basicos/tbperfis/tbperfil_tbpermissao_fields', f: f %>
        <% end %>
      </div>

      <div class="form-body">
        <hr>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <%= link_to_add_association "<i class='fa fa-plus'></i> Usuário".html_safe,
                                        f, :cadastro_basicos_tbperfilusuarios,
                                        'data-association-insertion-node' => "#usuario-div",
                                        'data-association-insertion-method' => "append",
                                        partial: 'cadastro_basicos/tbperfis/tbperfilusuario_fields',
                                        class: "btn btn-block btn-info", style: 'color:#fff' %>
          </div>
        </div>
        <hr>
        <div class="row margin-bottom-10">
          <div class="col-md-10"><b> Usuário </b></div>
          <div class="col-md-2 text-align-center">Ações</div>
        </div>
        <div id="usuario-div">
          <%= f.fields_for :cadastro_basicos_tbperfilusuarios do |f| %>
            <% render 'cadastro_basicos/tbperfis/tbperfilusuario_fields', f: f %>
          <% end %>
        </div>
      </div>


      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= label_translate(:cancel) %></button>
        <button type="submit" class="btn btn-primary"><%= label_translate(:save) %></button>
      </div>
    </div>



  <% end %>
</div>