
<div class="nested-fields" id="tab_<%= f.index %>">
  <div class="row">
    <div class="col-md-10">
      <%= h f.select :tbpermissao_id,
                     options_for_select(CadastroBasicos::Tbpermissao.all.collect { |p| ["#{p.nome}", p.id] },
                                        selected: f.object.tbpermissao_id),
                     { include_blank: "Selecione uma Permissão",
                       hide_label: true },
                     { class: 'form-control select2',
                       style: "width: 100%;" } %>
    </div>
    <div class="col-md-2 text-align-center">
      <%= link_to_remove_association "Remover", f, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</div>
<script>
    resetarComponents();
</script>