<section class="content-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Cadastro Básicos</a></li>
    <li class="breadcrumb-item active" data-breadcrumb="tbperfis"><%= translate_model(CadastroBasicos::Tbperfil) %></li>
  </ol>
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listagem de <%= translate_model(CadastroBasicos::Tbperfil) %> </h3>
      <div class="card-tools">
        <%= link_to new_cadastro_basicos_tbperfil_path, class: 'btn btn-primary btn-sm btn-block', remote: true do %>
        <i class="fa fa-plus"></i> Novo
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped datatable">
        <thead>
        <tr>
          <th>Código</th>
                      
              <th><%= translate_attr(CadastroBasicos::Tbperfil,:nome) %></th>
                                  
              <th><%= translate_attr(CadastroBasicos::Tbperfil,:ativo) %></th>
                                  
              <th><%= translate_attr(CadastroBasicos::Tbperfil,:chave) %></th>
                                <th>Ações</th>
        </tr>
        </thead>
        <tbody id="table-cadastro_basicos_tbperfil">
        <% @cadastro_basicos_tbperfis.each do |dado| %>
        <tr>
          <td><%= dado.id %></td>
                      
              <td><%= dado.nome %></td>
                                  
              <td><%= dado.ativo %></td>
                                  
              <td><%= dado.chave %></td>
                                <td class="white-space-nowrap-center" style="width: 16px">
            <%= link_to_visualizar cadastro_basicos_tbperfil_path(dado), remote: true %>
            <%= link_to_editar edit_cadastro_basicos_tbperfil_path(dado), remote: true %>
            <%= link_to_excluir cadastro_basicos_tbperfil_path(dado), remote: true %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <%= page_entries_info @cadastro_basicos_tbperfis %>
      <%= paginate @cadastro_basicos_tbperfis, outer_window: 2 %>
    </div>
  </div>
</section>










