<% if @cadastro_basicos_tbperfil.errors.size > 0 %>
    if ($('#error_explanation').length > 0)
        $('#error_explanation').html('<%= escape_javascript(render 'layouts/error_messages', objeto: @cadastro_basicos_tbperfil) %>');
else {
    toastr.warning('<%= specific_alert(:unsuccess_updated) %>');
}
<% else %>

$('#modal_xfull_static').modal('hide');
location.reload();
toastr.success('<%= specific_alert(:success_updated) %>');
<% end %>


