<% objeto ||= nil %>
<% if objeto&.errors && objeto.errors.size > 0 %>
  <% messages = objeto.errors.full_messages %>
<% end %>
<% if defined?(messages) && messages.present? %>
  <% plural = messages.size > 1 ? 's' : '' %>
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-exclamation-triangle"></i> Por favor, corrija o<%= plural %> erro<%= plural %> abaixo:</h5>
    <ul>
      <% messages.each do |msg| %>
        <li style=' text-align: left;'><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

