<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Avaliação</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <!--  <link rel="stylesheet" href="/app/assets/stylesheets/fontawesome-free/css/all.min.css">-->
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="shortcut icon" href="#"/>
  <%= favicon_link_tag asset_path('icon_tab.ico') %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>


<body class="hold-transition sidebar-mini" data-no-turbolink="false">
<div class="wrapper">
  <!-- Navbar -->
  <%= render partial: "layouts/backoffice_admin/navbar" %>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <!--  menu lateral-->
  <%= render partial: "layouts/backoffice_admin/sidebar" %>
  <div class="content-wrapper">
    <%= yield %>
  </div>
  <%= render 'layouts/modals' %>
  <%= render partial: "layouts/backoffice_admin/footer" %>
</div>
<%= render partial: "layouts/modals" %>
<% if flash.any? %>
  <script type="text/javascript">
      <% flash.each do |key, value| %>
      <% type = key.to_s.gsub('danger', 'error').gsub('alert', 'error').gsub('notice', 'info') %>
      toastr.<%= type %>("<%= value.html_safe %>");
      <% end %>
  </script>
  <% flash.clear %>
<% end %>
<%#= render partial: "layouts/backoffice_admin/custom_scripts_aux" %>
</body>
</html>
