<!-- /.modal -->

<div class="modal fade show" id="modal_full" style="padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal_content_full">
      
    </div>
  </div>
</div>


<div class="modal fade show" id="modal_xfull" style="padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="modal_content_xfull">
      
    </div>
  </div>
</div>

<div class="modal fade show" id="modal_xfull_static" style="padding-right: 15px;" aria-modal="true" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="modal_content_xfull_static">
    </div>
  </div>
</div>

<div class="modal fade show" id="modal_sm_static" style="padding-right: 15px;" aria-modal="true" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="modal_content_sm_static">
    </div>
  </div>
</div>
