<style>


/*    label { text-transform: uppercase; }*/
/*    a { text-transform: uppercase; }*/
/*    input { text-transform: uppercase; }*/
/*    .form-control { text-transform: uppercase; }*/
/*    .form-control input { text-transform: uppercase; }*/
/*    h1 {text-transform: uppercase;}*/
/*    p {text-transform: uppercase;}*/
/*    thead {text-transform: uppercase;}*/
/*    td {text-transform: uppercase;}*/
/*    th {text-transform: uppercase;}*/
/*    .chosen-results {text-transform: uppercase;}*/
/*    .chosen-single {text-transform: uppercase;}*/
</style>


<% if admin_signed_in? %>
  <%= render "layouts/logged_in" %>
<% else %>
  <%= render "layouts/logged_out" %>
<% end %>