<!DOCTYPE html>
<html>
<head>
  <title>Tournament Bracket Generator</title>
  <title>Avaliacao</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %><%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <!--  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
</head>
<body>

<%= yield %>
<%#= render partial: "layouts/backoffice_shared/footer"%>
</body>
</html>