<!DOCTYPE html>
<html>
<head>
  <title>Tournament Bracket Generator</title>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <title>Avaliacao</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %><%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <!--  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
</head>
<body>

<!--<style type="text/css">-->

<!--    .span {-->
<!--        text-transform: uppercase;-->
<!--    }-->
<!--    .table-pdf {-->
<!--        width: 90%;-->
<!--    }-->
<!--    .table, th, td {-->
<!--        border: 1px solid;-->
<!--    }-->

<!--    html, body, .brackets {-->
<!--        width: 100%;-->
<!--        min-height: 100%;-->
<!--        font-family: "Arial", sans-serif;-->
<!--    }-->

<!--    .metroBtn {-->
<!--        background-color: #2E7BCC;-->
<!--        color: #fff;-->
<!--        font-size: 1.1em;-->
<!--        padding: 10px;-->
<!--        display: inline-block;-->
<!--        margin-bottom: 30px;-->
<!--        cursor: pointer;-->
<!--    }-->

<!--    .brackets > div {-->
<!--        text-transform: uppercase;-->
<!--        vertical-align: top;-->
<!--        clear: both;-->
<!--    }-->

<!--    .brackets > div > div {-->
<!--        float: left;-->
<!--        height: 100%;-->
<!--    }-->

<!--    .brackets > div > div > div {-->
<!--        margin: 50px 0;-->
<!--    }-->

<!--    .brackets div.bracketbox {-->
<!--        position: relative;-->
<!--        width: 100%;-->
<!--        height: 100%;-->
<!--        border-top: 1px solid #555;-->
<!--        border-right: 1px solid #555;-->
<!--        border-bottom: 1px solid #555;-->
<!--    }-->

<!--    .brackets div.bracketbox > span.info {-->
<!--        position: absolute;-->
<!--        top: 25%;-->
<!--        left: 25%;-->
<!--        font-size: 0.8em;-->
<!--        color: #BBB;-->
<!--    }-->

<!--    .brackets div.bracketbox > span {-->
<!--        position: absolute;-->
<!--        left: 5px;-->
<!--        font-size: 0.70em;-->
<!--    }-->

<!--    .brackets div.bracketbox > span.teama {-->
<!--        top: -20px;-->
<!--    }-->

<!--    .brackets div.bracketbox > span.teamb {-->
<!--        bottom: -20px;-->
<!--    }-->

<!--    .brackets div.bracketbox > span.teamc {-->
<!--        bottom: 1px;-->
<!--    }-->

<!--    .brackets > .group2 {-->
<!--        height: 260px;-->
<!--    }-->

<!--    .brackets > .group2 > div {-->
<!--        width: 49%;-->
<!--    }-->

<!--    .brackets > .group3 {-->
<!--        height: 320px;-->
<!--    }-->

<!--    .brackets > .group3 > div {-->
<!--        width: 32.7%;-->
<!--    }-->

<!--    .brackets > .group4 > div {-->
<!--        width: 24.5%;-->
<!--    }-->

<!--    .brackets > .group5 > div {-->
<!--        width: 19.6%;-->
<!--    }-->

<!--    .brackets > .group6 {-->
<!--        height: 1090px;-->
<!--    }-->

<!--    .brackets > .group6 > div {-->
<!--        width: 16.3%;-->
<!--    }-->

<!--    .brackets > div > .r1 > div {-->
<!--        height: 15px;-->
<!--    }-->

<!--    .brackets > div > .r2 > div {-->
<!--        margin: 60px 0 65px 0;-->
<!--        height: 65px;-->
<!--    }-->

<!--    .brackets > div > .r3 > div {-->
<!--        margin: 90px 0 130px 0;-->
<!--        height: 130px;-->
<!--    }-->

<!--    .brackets > div > .r4 > div {-->
<!--        margin: 150px 0 260px 0;-->
<!--        height: 260px;-->
<!--    }-->

<!--    .brackets > div > .r5 > div {-->
<!--        margin: 280px 0 0 0;-->
<!--        height: 560px;-->
<!--    }-->

<!--    .brackets > div > .r6 > div {-->
<!--        margin: 600px 0 0 0;-->
<!--    }-->

<!--    .brackets div.final > div.bracketbox {-->
<!--        border-top: 0px;-->
<!--        border-right: 0px;-->
<!--        height: 0px;-->
<!--    }-->

<!--    .brackets > div > .r4 > div.drop {-->
<!--        height: 180px;-->
<!--        margin-bottom: 0px;-->
<!--    }-->

<!--    .brackets > div > .r5 > div.final.drop {-->
<!--        margin-top: 345px;-->
<!--        margin-bottom: 0px;-->
<!--        height: 1px;-->
<!--    }-->

<!--    .brackets > div > div > div:last-of-type {-->
<!--        margin-bottom: 0px;-->
<!--    }-->
<!--</style>-->


<%= yield %>
<%#= render partial: "layouts/backoffice_shared/footer"%>
</body>
</html>